.exploreh1{
    margin-top: 17%;
    margin-left: 25%;
    font-size: 100px;
animation: slide 2s ease forwards;
}
@keyframes slide {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}