#root {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #0053a58a,#38b2ac  ,#00f2614f  ); */
  background-color:#FFFFFF		;
  margin: 0;
  overflow-x: hidden;
}
